
.body {
  margin: 0;
}

.hero {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  transform: translate3d(0,0,0);
  background-image: url(https://images.unsplash.com/photo-1516697073-419b2bd079db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7bb5857bafd3ee3e7c22a5ddc9f0264f&auto=format&fit=crop&w=2602&q=80);
  height: 100vh;
}

h3{
    color: white;
}
.hero:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hero__content {
    height: 100%;
  z-index: 101;
  position: relative;
}

#map {
  height: 100%;
    width: 100%;
}

@-webkit-keyframes slide {
  0%   { background-position: left; }
  50%   { background-position: right; }
  100% { background-position: left; }
}

.hero h1 {
  font-size: 50px;
  font-weight: 100;
  color: white;
  margin: 0;

}

.hero__content {
    padding: 10px;

}


.hero__content #map {
    width: 100%;
    height: 100%;
}

/*

#map {
     height: 600px;
     width: 1px;
}
*/
