
      <link rel="stylesheet" href="css/hompagenewstyle.css">


<div>

  <div class="hero" style="background-image: url(https://images.unsplash.com/photo-1516697073-419b2bd079db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7bb5857bafd3ee3e7c22a5ddc9f0264f&auto=format&fit=crop&w=2602&q=80)">
  <div class="hero__content">
    <h1>Welcome to PizzaHub.</h1>
	  <a class="btn" href="/map">Customer</a>
    <a class="btn" href="/manager">Manager</a>
    <a class="btn" href="/login-signup">Chef</a>
    <a class="btn" href="/login-signup">Driver</a>
  </div>
</div>
