<div class="container">
	<div class="row">
	<link href="/css/loginstyle.css" rel="stylesheet">
				<div class="panel-body">
					<div class="col-sm-4 col-sm-offset-6 loginBox">
						<h2> Login</h2>
						{{#each error}}
        				<div class="alert alert-danger">{{this}}</div>
     					{{/each}}
						<form id="login-form" action="/login" method="post" role="form">
								<label>Email</label>
								<input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
								<label>Password</label>
								<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
								<a href="#" tabindex="5" class="forgot-password">Forgot Password</a>
								<button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login"> Login </button>
								<label for="remember" class = ""> Remember Me</label>
								<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
						</form>			
					</div>
				</div>
			</div>
</div>