
	<link rel="stylesheet" href="/css/aboutusstyle.css">

    
	<div id="main" class="content">

   <p>
		ABOUT US <br/> This is PizzaHub. Our fundamental belief is simple: take care of your pizza and give it the best to work with love and passion. This is what drives us and it's why we invest more than many others in the industry in our effort to consistently deliver superior pizza and superior service.
	   <br/> 
	   The more you know about our ingredients, the more informed your pizza choices will be. If you have any ingredients questions, leave us
	   <a href="./feedback">feedback</a>!</p> 
   
        
    </div>   
