
  
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> --> 
      <link rel="stylesheet" href="/css/orderconfirmationstyle.css">  


<div id="about-center">
   Thank you for your order<br/>
	Your order will be here soon
	<br/>
	Leave us feedback
	</div>
	
    <!-- <script  src="js/index.js"></script> -->

